<div class="container-fluid mt-4">
    <h1 style="text-align:center; font-family: Pangolin, cursive; font-size: 80px; color: #ffd32a">Eat-Da-Burger</h1>

<div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
     <p class="text-center mt-3" style="color: white; font-family: 'Raleway', sans-serif; font-size: 20px;">Enter a burger you want to eat. Click the submit button!</p>
    <form id="submitBurger">
        <div class="form-group col-md-12">
        <input id="submitBurgerText" type="text" class="form-control" placeholder="Enter burger of choice">
        </div>
        <div class="col text-center">
        <button type="submit" class="btn btn-primary mt-2" style="align-items-center">Submit</button>
        </div>
    </form>
    </div>
</div>
<br>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-6 text-center">
            <h2 style="color: #6E2C00; font-family: Pangolin, cursive">Burgers to Eat:</h2>
            {{#each burger_data}}
            {{#unless this.devoured}}
            <div class="card-transparent mt-4 border-0">
                <div class="card-body text-center" style="font-family: 'Raleway', sans-serif">
        <h4>{{this.burger_name}}</h4>
        <button data-id={{this.id}} class= "devourBtn btn btn-success">Devour This!</button>
        </div>
        </div>
        {{/unless}}
        {{/each}}
        </div>
        <div class="col-6">
            <h2 class= "text-center" style="color: #1c724ad7; font-family: Pangolin, cursive">Devoured:</h2>
             {{#each burger_data}}
             {{#if this.devoured}}

              <div class= "card-transparent mt-4">
                  <div class="card-body text-center" style="font-family: 'Raleway', sans-serif">
                        <h4>{{this.burger_name}}</h4>
                        <button data-id={{this.id}} class="delBtn btn btn-danger">Trash <i class="fa fa-trash-o"></i></button>
                  </div>
              </div>
             {{/if}}
             {{/each}}
        </div>
    </div>

</div>